In [99]:
from datetime import timedelta, datetime
import os
import pandas as pd
import numpy as np
from tqdm import tqdm

In [100]:
data_path = "../data/1min/"
imputed_data_path = "../data/imputed/1min/"

try:
    os.mkdir("../data/imputed")
    os.mkdir(imputed_data_path)
except OSError as error:
    print(error)

stocks = [file.split('/')[-1][:-4] for file in os.listdir(data_path)]
datetime_format = "%Y-%m-%dT%X+03:00"

[Errno 17] File exists: '../data/imputed'

In [101]:
# read csv of SISE
historical_df = pd.read_csv(data_path + "AKBNK.csv")

In [102]:
historical_df.tail()

,Unnamed: 0,symbol,signal_time,date_time,close,high,low,open,total_quantity,volume,weighted_average
422999,32999,AKBNK,1609167360000,2020-12-28T17:56:00+03:00,6.55,6.55,6.54,6.54,457516.0,2.996671e+06,6.549872
423000,33000,AKBNK,1609167420000,2020-12-28T17:57:00+03:00,6.55,6.56,6.55,6.55,31862.0,2.087247e+05,6.550899
423001,33001,AKBNK,1609167480000,2020-12-28T17:58:00+03:00,6.55,6.56,6.55,6.55,329625.0,2.159175e+06,6.550399
423002,33002,AKBNK,1609167540000,2020-12-28T17:59:00+03:00,6.55,6.55,6.54,6.54,88293.0,5.781336e+05,6.547898
423003,33003,AKBNK,1609167840000,2020-12-28T18:04:00+03:00,6.54,6.54,6.54,6.54,1093251.0,7.149861e+06,6.540000

In [103]:
historical_array = historical_df.to_numpy()

print(historical_array.shape)

(423004, 11)

In [95]:
class StockImputer:

    def __init__(self, data):
        self.raw_data = data
        self.imputed_data = []
        self.imputed_data_as_array = None

        self.START_DATE = datetime.strptime(data[0][3], "%Y-%m-%dT%X+03:00")
        self.START_TIMESTAMP = data[0][2]
        self.END_DATE = datetime.strptime(data[-1][3], "%Y-%m-%dT%X+03:00")
        self.END_TIMESTAMP = data[-1][2]

        self.filler_index = 0
        self.parser_index = 0

        self.filler_row = self.raw_data[0].copy()
        self.parser_row = self.raw_data[0]

    def _add_row(self, row, keep_values=False):
        
        if not keep_values:
            self.filler_row[4:] = row[4:]  # take the values of current row
        
        self.imputed_data.append(self.filler_row.copy())  # add row to the imputed dataset

        self.filler_row[0] += 1  # inc index
        self.filler_row[2] += 60000  # inc timestamp

        # inc time string
        self.filler_row[3] = datetime.fromtimestamp(self.filler_row[2] / 1000).strftime("%Y-%m-%dT%X+03:00")

    def _add_until_row(self, row):
        
        while self.filler_row[2] != row[2]:
            self._add_row(row, keep_values=True)  # add rows between
        
        self._add_row(row, keep_values=False)  # add last row too
        
    def impute(self):

        for row in tqdm(self.raw_data):
            
            if self.filler_row[2] == row[2]:
                self._add_row(row)
                continue
            
            else:
                if (row[2] - self.filler_row[2]) / 60000 > 30:
                    # day or session changed
                    self.filler_row = row.copy()
                    self._add_row(row)
                    continue
                
                else:
                    self._add_until_row(row)
                    continue
        self.imputed_data_as_array = np.array(self.imputed_data)

In [104]:
imputer = StockImputer(historical_array[:500])

print(f"""
Start Date: {imputer.START_DATE.strftime(datetime_format)}
End Date: {imputer.END_DATE.strftime(datetime_format)}
""")

Start Date: 2017-01-02T10:00:00+03:00
End Date: 2017-01-03T14:48:00+03:00

In [105]:
imputer.impute()  # fill missing values

100%|██████████| 500/500 [00:00<00:00, 43181.48it/s]

In [110]:
not_imputed_df = pd.DataFrame(data=imputer.raw_data, columns=[i+"_RAW" for i in historical_df.columns])
imputed_df = pd.DataFrame(data=imputer.imputed_data_as_array, columns=[i+"_IMP" for i in historical_df.columns])

pd.concat([not_imputed_df[:25], imputed_df[:25]], axis = 1)[['date_time_RAW', 'close_RAW', 'date_time_IMP', 'close_IMP']]

                date_time_RAW close_RAW              date_time_IMP close_IMP
0   2017-01-02T10:00:00+03:00  6.243333  2017-01-02T10:00:00+03:00  6.243333
1   2017-01-02T10:01:00+03:00  6.251348  2017-01-02T10:01:00+03:00  6.251348
2   2017-01-02T10:02:00+03:00  6.243333  2017-01-02T10:02:00+03:00  6.243333
3   2017-01-02T10:03:00+03:00  6.243333  2017-01-02T10:03:00+03:00  6.243333
4   2017-01-02T10:04:00+03:00  6.251348  2017-01-02T10:04:00+03:00  6.251348
5   2017-01-02T10:05:00+03:00  6.251348  2017-01-02T10:05:00+03:00  6.251348
6   2017-01-02T10:06:00+03:00  6.259362  2017-01-02T10:06:00+03:00  6.259362
7   2017-01-02T10:07:00+03:00  6.251348  2017-01-02T10:07:00+03:00  6.251348
8   2017-01-02T10:08:00+03:00  6.251348  2017-01-02T10:08:00+03:00  6.251348
9   2017-01-02T10:09:00+03:00  6.235319  2017-01-02T10:09:00+03:00  6.235319
10  2017-01-02T10:10:00+03:00  6.243333  2017-01-02T10:10:00+03:00  6.243333
11  2017-01-02T10:11:00+03:00  6.235319  2017-01-02T10:11:00+03:00  6.235319
12  2017-01-02T10:12:00+03:00  6.235319  2017-01-02T10:12:00+03:00  6.235319
13  2017-01-02T10:13:00+03:00  6.227304  2017-01-02T10:13:00+03:00  6.227304
14  2017-01-02T10:14:00+03:00  6.235319  2017-01-02T10:14:00+03:00  6.235319
15  2017-01-02T10:15:00+03:00  6.235319  2017-01-02T10:15:00+03:00  6.235319
16  2017-01-02T10:16:00+03:00  6.227304  2017-01-02T10:16:00+03:00  6.227304
17  2017-01-02T10:17:00+03:00  6.235319  2017-01-02T10:17:00+03:00  6.235319
18  2017-01-02T10:18:00+03:00  6.235319  2017-01-02T10:18:00+03:00  6.235319
19  2017-01-02T10:19:00+03:00  6.235319  2017-01-02T10:19:00+03:00  6.235319
20  2017-01-02T10:20:00+03:00  6.227304  2017-01-02T10:20:00+03:00  6.227304
21  2017-01-02T10:21:00+03:00  6.227304  2017-01-02T10:21:00+03:00  6.227304
22  2017-01-02T10:22:00+03:00  6.227304  2017-01-02T10:22:00+03:00  6.227304
23  2017-01-02T10:23:00+03:00  6.235319  2017-01-02T10:23:00+03:00  6.235319
24  2017-01-02T10:24:00+03:00  6.235319  2017-01-02T10:24:00+03:00  6.235319

In [111]:
imputer_full = StockImputer(historical_array)

print(f"""
Start Date: {imputer_full.START_DATE.strftime(datetime_format)}
End Date: {imputer_full.END_DATE.strftime(datetime_format)}
""")

imputer_full.impute()

  3%|▎         | 11607/423004 [00:00<00:07, 57248.94it/s]

Start Date: 2017-01-02T10:00:00+03:00
End Date: 2020-12-28T18:04:00+03:00

100%|██████████| 423004/423004 [00:05<00:00, 79761.86it/s]

In [112]:
print(imputer_full.raw_data.shape)
print(imputer_full.imputed_data_as_array.shape)
ratio = (imputer_full.imputed_data_as_array.shape[0] / imputer_full.raw_data.shape[0] - 1) * 100
print(f"Missing values: {round(ratio, 2)}%")

(423004, 11)
(442228, 11)
Missing values: 4.54%

# Impute All Stocks

In [114]:
for stock in stocks:
    historical_df = pd.read_csv(data_path + stock + ".csv")
    historical_array = historical_df.to_numpy()
    
    imputer = StockImputer(historical_array)
    imputer.impute()
    
    imputed_df = pd.DataFrame(data=imputer.imputed_data_as_array, columns=historical_df.columns)
    
    imputed_df.to_csv(imputed_data_path + stock + "_full.csv")

100%|██████████| 398598/398598 [00:04<00:00, 83142.30it/s]
100%|██████████| 421161/421161 [00:05<00:00, 82623.58it/s]
100%|██████████| 432746/432746 [00:05<00:00, 72551.74it/s]
100%|██████████| 368285/368285 [00:05<00:00, 63003.11it/s]
100%|██████████| 416442/416442 [00:06<00:00, 60245.39it/s]
100%|██████████| 437556/437556 [00:06<00:00, 66028.99it/s]
100%|██████████| 402659/402659 [00:05<00:00, 79686.42it/s]
100%|██████████| 422755/422755 [00:05<00:00, 79495.50it/s]
100%|██████████| 423004/423004 [00:05<00:00, 83110.97it/s]
100%|██████████| 394784/394784 [00:05<00:00, 70779.97it/s]
100%|██████████| 412524/412524 [00:04<00:00, 83593.17it/s]
100%|██████████| 396104/396104 [00:05<00:00, 76139.92it/s]
100%|██████████| 415953/415953 [00:05<00:00, 76083.34it/s]
100%|██████████| 431334/431334 [00:05<00:00, 84120.51it/s]
100%|██████████| 381838/381838 [00:05<00:00, 73923.67it/s]
100%|██████████| 433530/433530 [00:04<00:00, 87684.67it/s]
100%|██████████| 412383/412383 [00:04<00:00, 82633.36it/s]
100%|██████████| 403288/403288 [00:04<00:00, 83951.66it/s]
100%|██████████| 428936/428936 [00:05<00:00, 84257.62it/s]
100%|██████████| 413457/413457 [00:05<00:00, 73878.02it/s]
100%|██████████| 69487/69487 [00:01<00:00, 61585.48it/s]
100%|██████████| 417191/417191 [00:05<00:00, 76523.06it/s]
100%|██████████| 398639/398639 [00:05<00:00, 75601.80it/s]
100%|██████████| 333535/333535 [00:04<00:00, 68538.83it/s]
100%|██████████| 423603/423603 [00:05<00:00, 81826.14it/s]
100%|██████████| 431647/431647 [00:05<00:00, 78775.11it/s]
100%|██████████| 422546/422546 [00:05<00:00, 82957.35it/s]
100%|██████████| 428189/428189 [00:05<00:00, 82729.69it/s]
100%|██████████| 339180/339180 [00:05<00:00, 60871.72it/s]
100%|██████████| 359190/359190 [00:05<00:00, 61348.04it/s]