In [10]:
import pandas as pd
import numpy as np
import joblib
import os

In [11]:
tensor_path = os.path.join("..", "data", "tensor.joblib")

In [12]:
tensor_df = pd.read_csv(tensor_path)

In [13]:
tensor_df.shape

(884421, 97)

In [14]:
tensor_df.head()

,Unnamed: 0,Unnamed: 0.1,0,1,2,3,4,5,6,7,...,85,86,87,88,89,90,91,92,93,94
0,0,0,0,False,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,6.243333,6.243333,6.247340,6.247340,6.247340,6.247340,6.227304,0.000000,6.227304,0.000000
1,1,1,1,False,6.243333,0.000000,6.251348,0.000000,6.235319,0.000000,...,6.243333,6.243333,6.191239,6.191239,6.191239,6.191239,6.163188,-0.064116,6.222275,-0.123204
2,2,2,2,False,6.251348,6.243333,6.251348,6.251348,6.243333,6.235319,...,6.243333,6.243333,6.147159,6.147159,6.147159,6.147159,6.112429,-0.101518,6.213986,-0.203075
3,3,3,3,False,6.243333,6.251348,6.251348,6.251348,6.243333,6.243333,...,6.243333,6.243333,6.135137,6.135137,6.135137,6.135137,6.087049,-0.076138,6.206023,-0.195112
4,4,4,4,False,6.243333,6.243333,6.243333,6.251348,6.235319,6.243333,...,6.243333,6.243333,6.135137,6.135137,6.135137,6.135137,6.095865,0.035264,6.203086,-0.071956